<!--
imagePost.hbs – for viewing an individual image post
    ▪ Must have a section for the post’s post title.
    ▪ Must have a section for the post’s post author
    ▪ Must have a section for the post’s post creation time. 
    ▪ Must have a section for the post’s image
-->
<div id="post-details-view" class="image-post-container">
  <h1 class="title">{{currentPost.title}}</h1>
  <div class="image-container">
  <img class="posted-image" alt="Missing" src="{{currentPost.photopath}}" />
  </div>
  <div class="below-image">
    <div class="post-authorship-info">
        <p class="post-date">{{currentPost.created_formatted}}</p>
        <p class="post-author">{{currentPost.username}}</p>
    </div>
    <p class="post-description">{{currentPost.description}}</p>
  </div>
</div>