<div id="post-details-view" class="image-post-container">
  <h1 class="title">{{currentPost.title}}</h1>
  <div class="image-container">
    <img class="posted-image" alt="Missing" src="{{currentPost.photopath}}" />
  </div>
  <div class="below-image">
    <div class="post-authorship-info">
      <p class="post-date">{{currentPost.created}}</p>
      <p class="post-author">{{currentPost.username}}</p>
    </div>
    <p class="post-description">{{currentPost.description}}</p>
    <div id="comments-section">
      <div id="comments-container">
        {{#each currentPost.comments}}
        {{> comment}}
        {{/each}}
      </div>
      <div id="comment-add-container">
        <textarea id="comment-add-textarea" placeholder="Add a comment..."></textarea>
        <button id="comment-add-button" class="button">Comment</button>
      </div>
    </div>
  </div>
</div>